body{
    background:lightgray;
    font-family:helvetica;
}
header {
    text-align: center;
    background-color:white;
    padding:1px;
    margin-top:-8px;
    margin-left:-8px;
    margin-right:-8px;
}
.post{
    background: white; 
    width:600px;
    margin:auto;
    margin-top:4%;
    border: 1px solid rgba(141, 148, 142, 0.274);
    border-radius: 4px;
    padding-top:4px;
}
section {
    background:rgb(237, 237,234);
    padding-top:60px;
}
.postheader h2{
    font-size:20px;
    margin:0;
}
.postheader{
    padding:15px;
    display:flex;
}
div{
    box-sizing:border-box;
}
img{
    width: 100%;
}
.box .header .date{
    float:right;
    margin:0;
}
.description{
    padding:15px;
}
