body{
    background:lightgray;
    font-family:helvetica;
    margin:0px;
}
header {
    text-align: center;
    background-color:white;
    padding:4px;
}
.post{
    background: white; 
    width:600px;
    margin:auto;
    margin-top:4%;
}
.postheader{
    display:flex;
    padding:15px;
}
.postheader span{
    margin-left:auto;
}
.postheader h2{
    font-size:20px;
    margin:0;
}
img{
    width: 100%;
}
.description{
    padding:15px;
}
#post3{
    margin-bottom:4%;
}
